{% set author = node.uid.entity %}
<div class="content-header">
  <h2>
    <a href="{{ url }}">{{ label }}</a>
  </h2>

  <div class="article-list__info">
    <span class="icon-calendar">{{ node.getCreatedTime()|format_date('site_date') }}</span>
    <a href="{{ path('entity.user.canonical', {'user': author.id}) }}" class="icon-user">{{ author.getDisplayName() }}</a>
    <a href="{{ url }}#comments" class="icon-message-circle">{{ comment_count }}</a>
    <span class="icon-eye">{{ total_viewed }}</span>
  </div>
  {% if content.body[0] is not empty %}
    <div class="content__description">
      {{ content.body[0] }}
    </div>
  {% endif %}
</div>
