<div class="box-list">
  <span class="box-list__icon {{ icon }}"></span>
  <h2 class="box-list__name">{{ name }} <span class="box-list__total small">({{ total }} {{name}})</span></h2>
  <div class="box-list__description">{{ description }}</div>
  <div class="box-list__list">{{ items }}</div>
</div>
