<div class="article-list">
  {% if title %}
    <h2 class="article-list__title">{{ title }}</h2>
  {% endif %}
  <ul>
    {% for item in items %}
      <li>
        <a href="{{ item.link }}">
          <span class="icon-file-text"></span>
          <h4>{{ item.title }}</h4>
        </a>
        {% if item.info %}
          <div class="article-list__info">
            {% if item.info.author %}
              <a href="{{ item.info.author.link }}" class="icon-user">{{ item.info.author.name }}</span>
            {% endif %}
            {% if item.info.likeCount %}
              <a href="{{ item.info.likeCount.link }}" class="icon-thumbs-up like">{{ item.info.likeCount.amount }}</a>
            {% endif %}
            {% if item.info.date %}
              <span class="icon-calendar">{{ item.info.date }}</span>
            {% endif %}
            {% if item.info.commentCount %}
              <a href="{{ item.info.commentCount.link }}" class="icon-message-circle">{{ item.info.commentCount.amount }}</a>
            {% endif %}
            {% if item.info.viewCount %}
              <a href="{{ item.info.viewCount.link }}" class="icon-eye">{{ item.info.viewCount.amount }}</a>
            {% endif %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if viewallLink %}
    <a href="{{ viewallLink }}" class="article-list__all"><span class="icon-arrow-right-circle"></span>View all</a>
  {% endif %}
</div>
