<div class="container">
  {% for bgItem in bgLists %}
    <h5>{{ bgItem.label }}</h5>
    <ul class="sg-colors">
      {% for item in bgItem.items %}
        <li>
          {% if bgItem.type == "overlay" %}
            {% set content = "<img src='//unsplash.it/300/90' />" %}
          {% endif %}
          <span class="sg-swatch {{ item.label }}">{{ content|default("") }}</span>
          <span class="sg-label">Class: {{ item.label }}</span>
          {% if item.code is not empty %}
            <br/><span class="sg-label">Code: {{ item.code }}</span>
          {% endif %}
        </li>
       {% endfor %}
    </ul>
  {% endfor %}
</div>
